## DJ-INIT
##
## Lines starting with two hashes (##) are comments with information.
## Lines starting with one hash (#) are configuration parameters that can be uncommented.

upstream dj_init {
  server unix:/home/dj_init/dj_init/tmp/sockets/gunicorn.sock fail_timeout=0;
}

## Normal HTTP host
server {
  # listen 0.0.0.0:80 default_server;
  # listen [::]:80 ipv6only=on default_server;
  listen 0.0.0.0:80 default_server;
  listen [::]:80 ipv6only=on default_server;
  server_name YOUR_SERVER_FQDN; ## Replace this with something like www.myserver.com
  server_tokens off; ## Don't show the nginx version number, a security best practice
  root /var/www/html/;

  ## Increase this if you want to upload large attachments
  client_max_body_size 20m;

  ## Individual nginx logs for this DJ-INIT vhost
  access_log  /var/log/nginx/dj_init_access.log;
  error_log   /var/log/nginx/dj_init_error.log;

  location / {
    ## @dj_init is a named location for the upstream fallback, see below.
    try_files $uri @dj_init;
  }

  location @dj_init {
    ## If you use HTTPS make sure you disable gzip compression
    ## to be safe against BREACH attack.
    # gzip off;

    proxy_set_header    Host                $http_host;
    proxy_set_header    X-Real-IP           $remote_addr;
    proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Proto   $scheme;
    proxy_set_header    X-Frame-Options     SAMEORIGIN;

    proxy_pass http://dj_init;
    # proxy_pass http://localhost:8080;
  }

  ## Serve Static Assets directly through Nginx

  location /static/ {
    # root /home/dj_init/dj_init/static;
    alias /home/dj_init/dj_init/static/;
    gzip_static on; # to serve pre-gzipped version
    expires max;
    add_header Cache-Control public;
  }

  location /media/ {
    # root /home/dj_init/dj_init/media;
    alias /home/dj_init/dj_init/media/;
    gzip_static on; # to serve pre-gzipped version
    expires max;
    add_header Cache-Control public;
  }

  error_page 500 502 503 504 /500.html;
    location = /500.html {
      # root /home/dj_init/dj_init/templates;
      alias /home/dj_init/dj_init/templates/;
    }
}
